body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

html{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listarLivros{
  margin-top: 110px;
}

.content-livros{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.box-livros{
  width: 75%;
}

.card{
  width: 18rem;
}

.livro{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.hr{
  width: 370px;
  left: 5px;
  position: absolute;
}

.navbar-brand{
  user-select: none;
  font-size: 25px;
}

.ID{
  width: 25%;
}

.TITULO{
  width: 15%;
}

.AUTOR{
  width: 15%;
}

.ANO{
  width: 15%;
}

.QUANTIDADE{
  width: 15%;
}

.TituloListar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 35px;
  gap: 50px;
}

.TituloListar a{
  color: white;
  background-color: #343a40;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  transition: 0.1s; 
}

.link1{
  color: #007bff !important;
}

.link1:hover{
  color: #007bff !important;
  transition: 0.1s;
  text-decoration: none;
}

.link2{
  color: white !important;
}

.link2:hover{
  color: #51a5ff !important;
  transition: 0.1s;
  text-decoration: none;
}

table{
  border-radius: 10px 10px 10px 10px;
  border-collapse: unset;
}

table:last-child tr{
  border-radius: 0px 0px 10px 10px;
}

.table thead th {
  border-bottom: none;
}

.table thead th:first-child{
  border-radius: 10px 0px 0px 0px;
}

.table thead th:last-child{
  border-radius: 0px 10px 0px 0px;
}

.table tbody:last-child th:first-child{
  border-radius: 0px 0px 0px 10px;
}

.table tbody:last-child td:last-child{
  border-radius: 0px 0px 10px 0px;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border-top: none;
  vertical-align: middle;
}

.nav-link{
  margin-left: 20px;
  font-size: 20px;
}

.imgIcon{
  height: 27px;
  user-select: none;
  cursor: pointer;
}

.imgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
